:root {
  --primary: #fed209;
  --segundary: #1d7874;
}
/* styles Globals*/
body {
  font-family: "Roboto", sans-serif;
}
.treinta {
  color: var(--segundary);
}
.titlePrimary {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}
.titleSecundary {
  font-size: 28px;

  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
.pGloblal {
  line-height: 2;
  width: 600px;
  color: #646464;
}
.contP {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* styles nav bar*/

.contNavBar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  -webkit-box-shadow: -1px 12px 32px -20px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -1px 12px 32px -20px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 12px 32px -20px rgba(0, 0, 0, 0.66);
}
.contLogo img {
  width: 200px;
  object-fit: contain;
}
.contLinks {
  display: flex;
}
.contLinks a {
  margin-right: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.btnPrimary {
  border: 1px solid var(--segundary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--segundary);
  cursor: pointer;
  font-weight: bold;
}
.btnSecundary {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--segundary);
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.btnSecundary:hover {
  padding: 0.6rem 1.1rem;
}
.btnPrimary:hover {
  padding: 0.6rem 1.1rem;
  transition: all 0.1s ease;
}
.btnSecundary:hover {
  padding: 0.6rem 1.1rem;
  transition: all 0.1s ease;
}

/* Body*/
.containerLayout {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 5%;
}
.App-map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
}
.App {
  text-align: center;
  height: 400px;
  border-radius: 10px;
  max-width: 100%;
}
.miInput {
  background-color: rgb(214, 214, 214);
  border: none;

  padding: 0.8rem 1rem;
  border-radius: 10px;
}
.miInput:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.1s ease;
  background-color: white;
}
.miLabel {
  margin: 1rem 0;
}
.contMyInput {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.containerLogin {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contBtnPrimary {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.contBtnPrimary button {
  background-color: var(--primary);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.contBtnPrimary button :hover {
  padding: 1rem 2.2rem;
  transition: all 0.1s ease;
}

.btnUnderline {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.btnUnderline span {
  text-decoration: underline;
  cursor: pointer;
}
.contHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  align-items: center;

  border-radius: 10px;
  background-color: var(--primary);
}
.headerImg img {
  height: 500px;
  object-fit: contain;
}

.cardRegistre {
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.contHome {
  padding: 0 2rem;
}
.contAddLocal {
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.cardSearch {
  flex: 1;
  margin: 2rem;
}
.lottieMap {
  flex: 2;
}
.contLoading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.contLoading img {
  width: 300px;
  object-fit: contain;
}
